*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}





body {
  width: 100%;
  height: 100%;
  margin: 0;


}
h1{
  color: rgb(131, 108, 79);
  padding: 10px;
  margin: 0 auto;
}
a{
 display: inline;
  list-style-type: none;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 10px 10px;
  border-radius: .5rem;
  font-size: 1.2rem;
  border: none;
  overflow: hidden;


}

header{
  text-align: center;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 800px;

  border-radius: .5rem;

}
figcaption{
  text-align: center;
}
#featured-property  p{
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;


 line-height: 1.5rem;
}
#details{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
  color: #000;
  width: 100%;

}
#details h3{
  text-align: left;

}
#details p{
  text-align: left;

}
.details a{
  text-align: left;


}

#details div{
  background-color: rgb(155, 131, 102);
  color: #000;
  text-align: center;
  width: 25%;
}